@import url('https://fonts.cdnfonts.com/css/aerobics');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Aerobics', sans-serif;
}

.body {
  font-size: 40px;
  color: wheat;
  background-size: cover;   /* make it fill the screen */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
